<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>CloudMaster_2012</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>CONFIG_FILE_PATH</param-name>
    <param-value>WEB-INF/config.properties</param-value>
  </context-param>
  <listener>
    <listener-class>cn.sjtu.cloudboy.config.AppContextListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <servlet-name>GetGvmStatus</servlet-name>
    <servlet-class>org.ase.servlet.GetGvmStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetGvmStatus</servlet-name>
    <url-pattern>/getGvmStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>SetGvmStatus</servlet-name>
    <servlet-class>org.ase.servlet.SetGvmStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetGvmStatus</servlet-name>
    <url-pattern>/setGvmStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>StartSendStatus</servlet-name>
    <servlet-class>org.ase.servlet.StartSendStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartSendStatus</servlet-name>
    <url-pattern>/startSendStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>StopSendStatus</servlet-name>
    <servlet-class>org.ase.servlet.StopSendStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StopSendStatus</servlet-name>
    <url-pattern>/stopSendStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>cn.sjtu.cloudboy.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getResultServlet</servlet-name>
    <servlet-class>cn.sjtu.cloudboy.servlet.GetResultServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DevelopVmServlet</servlet-name>
    <servlet-class>cn.sjtu.cloudboy.servlet.DevelopVmServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StartVmServlet</servlet-name>
    <servlet-class>cn.sjtu.cloudboy.servlet.StartVmServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StopVmServlet</servlet-name>
    <servlet-class>cn.sjtu.cloudboy.servlet.StopVmServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetSlaServlet</servlet-name>
    <servlet-class>cn.sjtu.cloudboy.servlet.GetSlaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetRepTimeServlet</servlet-name>
    <servlet-class>cn.sjtu.cloudboy.servlet.GetRepTimeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetProfitServlet</servlet-name>
    <servlet-class>cn.sjtu.cloudboy.servlet.GetProfitServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetVmNumServlet</servlet-name>
    <servlet-class>cn.sjtu.cloudboy.servlet.GetVmNumServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetResponsibilityServlet</servlet-name>
    <servlet-class>cn.sjtu.cloudboy.servlet.GetResponsibilityServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetLoadServlet</servlet-name>
    <servlet-class>cn.sjtu.cloudboy.servlet.GetLoadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetVmNumProfitServlet</servlet-name>
    <servlet-class>cn.sjtu.cloudboy.servlet.GetVmNumProfitServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PutLoadServlet</servlet-name>
    <servlet-class>cn.sjtu.cloudboy.servlet.PutLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getResultServlet</servlet-name>
    <url-pattern>/getResult</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DevelopVmServlet</servlet-name>
    <url-pattern>/getDevelopVm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StartVmServlet</servlet-name>
    <url-pattern>/startVm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StopVmServlet</servlet-name>
    <url-pattern>/stopVm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetSlaServlet</servlet-name>
    <url-pattern>/getSla</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetRepTimeServlet</servlet-name>
    <url-pattern>/getResponseTime</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetProfitServlet</servlet-name>
    <url-pattern>/getProfit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetVmNumServlet</servlet-name>
    <url-pattern>/getVmNum</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetResponsibilityServlet</servlet-name>
    <url-pattern>/getResponsibility</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetLoadServlet</servlet-name>
    <url-pattern>/getLoad</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetVmNumProfitServlet</servlet-name>
    <url-pattern>/getVmNumProfit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PutLoadServlet</servlet-name>
    <url-pattern>/putLoad</url-pattern>
  </servlet-mapping>
</web-app>